@helper Nav(){
  <ul class="nav nav-pills">
  	<li role="presentation"><a href="/Home">Home</a></li>
  	<li role="presentation"><a href="/User">Clocking</a></li>
  	<li role="presentation"><a href="/Timesheets">Timesheets</a></li>
  	<li role="presentation"><a href="/Info">Information</a></li>
  </ul>
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Content/extra.css">

    <script src="/Content/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/content/boostrap-select.less"></script>
</head>
<body>
	<div class="container-fluid">
		@Nav()
		<hr>
		@RenderBody()
	</div>
</body>
</html>

